# Compiled objects and modules
*.o
*.mod
*.log
*.out

# Compiler python objects
*.pyc

# ndpp executable
src/ndpp

# emacs/geany/gedit backups
*~

# kate swap files
*.kate-swp

# Documentation builds
docs/build

# xml-fortran reader
src/xml-fortran/xmlreader

# Modules built from XML templates
src/templates/*.f90

# Sage pre-processed .py files
jacobian*.py

# Example output files
examples/basic/1002.82c.g1

examples/basic/ndpp_lib.xml

examples/full/*.g2
examples/full/ndpp_lib.xml

ndpp.sublime-workspace
